{% extends 'food/base.html' %}


{% block title %}
    Basket Summary
{% endblock title %}

{% block content %}
<main class="pt-5 my-3 mx-5">
  <div class="container">
    {% if items %}
    <h1 class="h5">Food basket</h1>
    {% for item in items.values %}

    <div data-index="{{product.id}}" class="row mb-4 border product-item">
      <div class="col-md-3 col-lg-2 order-md-first bg-light">
        <img class="img-fluid mx-auto d-block" width="120px" alt="Responsive image" src="{{ item.image.url }}">
      </div>
      <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
        <a href="{% url 'food:restaurant' item.owner.slug %}" class="text-decoration-none text-reset">
          <h1 class="h5 pt-2 text-center">Restaurant : <small>{{item.owner}} </small></h1>
        </a>
        <div class="border">
          <div class="col border-bottom">
            <div class="row p-3">
              <div class="col-6">{{item.name}}</div>
              <div class="col-6 text-end"><span class="h6 fw-bold">{{ item.price }} $</span></div>
            </div>
          </div>
          <div class="col">
            <div class="row p-3">
              <div class="col-12">
                <label >Quantity</label>
                {{item.quantity}}

                <form method="post" action="{% url 'basket:basket-add' item.id %}" style="display:inline-block;">
                  {% csrf_token %}
                  <button type="submit"
                    class="btn btn-outline-secondary btn-sm update-button">
                    Add
                  </button>
                </form>
                <form method="post" action="{% url 'basket:basket-delete' item.id %}" style="display:inline-block;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-outline-secondary btn-sm delete-button">
                    Delete
                  </button>
                </form>
                <small style="float:right"> total price: {{item.total_price}} $</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
    <div class="h5 fw-bold" style="float:right">
      <a href="{% url 'food:all-items' %}">
        <button type="button" class="btn btn-outline-primary btn-sm delete-button" style="width:160px;height:40px">
          Select more items
        </button>
      </a>
        Sub Total: {{sub_total_price}} $
    </div>
    <div class="h5 fw-bold" style="float:right">
      <div class="text-end">
          <div class="my-5">
            <form method="post" action="{% url 'food:order-create' %}">
              {%csrf_token%}
              <label for="phone">Contect: </label>
              <input type="text" name="phone" id="phone" required style="height:40px; width:400px" placeholder="Phone number">
              <label for="adress">Adress: </label>
              <input type="text" name="adress" id="adress" required style="height:40px; width:400px" placeholder="Enter your adress">
              <button type="submit" class="btn btn-outline-primary btn-sm delete-button" style="width:120px;height:40px">
                Order
              </button>
            </form>
          </div>
      </div>
    </div>
    {% else %}
    <h3 class="text-center">You did not choose any item</h3>
    {% endif %}
  </div>


</main>
{% endblock content %}