{% extends 'food/base.html' %}


{% block title %}
    Delete Items
{% endblock title %}

{% block content %}
<main class=" mx-5">
  <h2 class="text-center my-5">Delete Items</h2>
  <div class="container">
    {% for item in items %}
    <div  class="row mb-4 border product-item">
      <div class="col-md-3 col-lg-2 order-md-first bg-light">
        <a href="{{item.get_absolute_url}}">
          <img class="img-fluid mx-auto d-block" width="120px" alt="Responsive image" src="{{ item.image.url }}">
        </a>
      </div>
      <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
        <a href="{% url 'food:restaurant' item.owner.slug %}" class="text-decoration-none text-reset">
          <h1 class="h5 pt-2 text-center"><small>Restaurant : {{item.owner}}</small></h1>
        </a>
        <div class="border">
          <div class="col border-bottom">
            <div class="row p-3">
              <div class="col-6">Name : {{item.name}}</div>
            </div>
          </div>
          <div class="col">
            <div class="row p-3">
              <div class="col-12 d-inline-flex">
                <h6>Price : {{item.price}} $</h6>
                <form method='post' action="{%  url 'food:item-delete' item.id %}" class="mx-5">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-sm btn-danger">
                    Delete item
                  </button>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
{% endblock %}