{% extends 'food/base.html' %}

{% block content %}

{% for name in category_names %}

  <div class="my-3 mx-5 bg-secondary sticky-top"
       style="height:30px;top:68px;z-index:30;">
    <a href="{% url 'food:category' name|lower %}">
      <h5 class="mx-5" style="color:white">{{name}}</h5>
    </a>
  </div>
  <div class="album py-5 my-3 mx-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
        {% for item in items %}
        {% if item.category.name == name %}
        <div class="col-md-3">
          <div class="card shadow-sm">
            <img class="img-fluid card-img-top" alt="Responsive image" src="{{ item.image.url }}">
            <div class="card-body">
              <p class="card-text">
                <a class="text-dark text-decoration-none" href="{{ item.get_absolute_url }}">
                  <button class="btn btn-sm btn-light">{{item.name}}</button>
                </a>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <small>Restaurant : {{item.owner}}</small>
              </div>
              <div>
                <small>Price : {{item.price}} $</small>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

{% endfor %}



{% endblock content %}

